* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.assignment-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  list-style: none;
  margin-top: 60px;
}
.assignment-item > a {
  text-decoration: none;
  color: #000;
  border: 1px solid lightblue;
  padding: 4px 8px;
  &:hover {
    color: rgb(23, 187, 242);
    background-color: rgb(170, 255, 151);
  }
}
